[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "NuRadioMC"
author = "Christian Glaser"
author-email = "work@c-glaser.de"
home-page = "https://github.com/nu-radio/NuRadioMC"
classifiers = ["License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)"]

requires = [
	"numpy",
	"scipy",
    "tinydb>=4.1.1",
    "tinydb-serialization",
	"pickle",
    "aenum",
    "astropy",
    "radiotools >=0.2.0",
    "h5py",
    "pyyaml",
    "cython",
    "peakutils",
    "requests",
    "pymongo",
    "dash>=2.0.0",
    "plotly",
    "sphinx",
    "uproot",
    "awkward"
]
requires-python=">=3.6"

[tool.flit.metadata.requires-extra]
doc = ["sphinx"]
