#
###### Requirements without Version Specifiers ######
pyyaml
numpy
astropy
tinydb
tinydb-serialization
h5py
matplotlib
scipy
aenum
cython
requests
future
###### Requirements with Version Specifiers ######


