#
###### Requirements without Version Specifiers ######
pyyaml
numpy
radiotools
astropy
tinydb
tinydb-serialization
h5py
matplotlib
scipy
aenum
cython
requests
future
# proposal
###### Requirements with Version Specifiers ######
