#
###### Requirements without Version Specifiers ######
pyyaml
numpy
astropy
tinydb==3.15.2
tinydb-serialization
h5py
matplotlib
scipy
aenum
cython
requests
future
proposal
###### Requirements with Version Specifiers ######
