{
	"global":
	{
		"do_interpolation" : true,
		"exact_time" : true,
		"scattering": 
		{
			"multiple_scattering" : "NoScattering"
		},
		"CrossSections" : {
			"brems": {
				"parametrization": "KelnerKokoulinPetrukhin",
				"multiplier" : 1.0,
				"lpm": true
			},
			"epair": {
				"parametrization": "KelnerKokoulinPetrukhin",
				"multiplier" : 1.0,
				"lpm": true
			},
			"ioniz": {
				"parametrization": "BetheBlochRossi",
				"multiplier" : 1.0
			},
			"photo": {
				"parametrization": "AbramowiczLevinLevyMaor97",
				"multiplier" : 1.0,
				"shadow": "ButkevichMikheyev"
			}
		},
		"cuts":
		{
			"e_cut": 1e8,
			"v_cut": 1,
			"cont_rand": true
		}
	},
	"sectors": [
		{
			"medium": "air",
			"geometries": [
				{
					"hierarchy": 0,
					"shape": "sphere",
					"origin": [0, 0, -637413400],
					"outer_radius": 1e20,
					"inner_radius": 637413400

				}
			],
			"density_distribution":
			{
				"type": "homogeneous",
				"mass_density" : 0.000810965
			}
		},
		{
			"medium": "ice",
			"geometries": [
				{
					"hierarchy": 1,
					"shape": "sphere",
					"origin": [0, 0, -637413400],
					"outer_radius": 637413400,
					"inner_radius": 637393400

				}
			],
			"density_distribution":
			{
				"type": "homogeneous",
				"mass_density" : 0.762944
			}
		},		
		{
			"medium": "ice",
			"geometries": [
				{
					"hierarchy": 2,
					"shape": "sphere",
					"origin": [0, 0, -637413400],
					"outer_radius": 637393400,
					"inner_radius": 637102400

				}
			],
			"density_distribution":
			{
				"type": "homogeneous",
				"mass_density" : 0.921585
			}
		},	
		{
			"medium": "StandardRock",
			"geometries": [
				{
					"hierarchy": 3,
					"shape": "sphere",
					"origin": [0, 0, -637413400],
					"outer_radius": 637102400,
					"inner_radius": 0

				}
			],
			"density_distribution":
			{
				"type": "homogeneous",
				"mass_density" : 2.65
			}
		}			
	]
}