name: Unit tests

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      python_version:
        description: Specify Python version to run tests on
        type: string
        required: true
        default: '3.10'
      os:
        description: OS to run tests on
        type: string
        default: ubuntu-latest

  workflow_call:
    inputs:
      python_version:
        description: Specify Python version to run tests on
        type: string
        required: true
        default: '3.10'
      os:
        description: OS to run tests on
        type: string
        default: ubuntu-latest

env: # set the python_version to 3.10 if the workflow is not triggered by workflow_call or workflow_dispatch
  PYTHON_VERSION: ${{ inputs.python_version || '3.10' }}

jobs:
  setup:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    outputs:
      cache-key: ${{ steps.cache-keys.outputs.pip-key }}
      data-cache-key: ${{ steps.cache-keys.outputs.data-key }}
      env-cache-key: ${{ steps.cache-keys.outputs.env-key }}
      gsl-dir: ${{ steps.gsl-config.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Generate cache keys
      id: cache-keys
      run: |
        echo "pip-key=${{ runner.os }}-pip-${{ hashFiles('NuRadioMC/test/requirements.txt') }}" >> $GITHUB_OUTPUT
        echo "data-key=ci-data" >> $GITHUB_OUTPUT
        echo "env-key=${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-${{ hashFiles('setup.py', 'pyproject.toml') }}" >> $GITHUB_OUTPUT

    - name: Cache Python environment
      id: cache-env
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ steps.cache-keys.outputs.env-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgsl-dev

    - name: Get GSL configuration
      id: gsl-config
      run: |
        echo "gsl-dir=$(gsl-config --prefix)" >> $GITHUB_OUTPUT

    - name: Install Python dependencies
      if: steps.cache-env.outputs.cache-hit != 'true'
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -e .

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    # Cache data used in tests
    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ steps.cache-keys.outputs.data-key }}

  lint:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Lint with flake8 (important)
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Lint with flake8 (unimportant)
      run: |
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --max-complexity=10 --max-line-length=127 --statistics  --exit-zero

  single-events:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    env:
      GSLDIR: ${{ needs.setup.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: "Validate separate trigger channels"
      if: always()
      run: |
        NuRadioMC/test/SingleEvents/validate_separate_trigger_channels.sh

    - name: "Single event test (South Pole)"
      if: always()
      run: |
        NuRadioMC/test/SingleEvents/test_build.sh

    - name: Single event test (Moore's Bay)
      if: always()
      run: |
        NuRadioMC/test/SingleEvents/validate_MB.sh

    - name: Single event test (ARZ - Numba)
      if: always()
      run: |
        NuRadioMC/test/SingleEvents/validate_ARZ.sh

    - name: Single event test (ARZ - Without Numba)
      if: always()
      run: |
        pip uninstall numba -y # easiest way to test ARZ without numba
        NuRadioMC/test/SingleEvents/validate_ARZ.sh

  signal-processing:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    env:
      GSLDIR: ${{ needs.setup.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: Signal generation test
      if: always()
      run : |
        NuRadioMC/test/SignalGen/test_build.sh

    - name: "Signal propagation tests"
      if: always()
      run: |
        NuRadioMC/test/SignalProp/run_signal_test.sh

    - name: "Test Birefringence"
      if: always()
      run: |
        NuRadioMC/test/SignalProp/run_birefringence_tests.sh

  effective-volume:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    env:
      GSLDIR: ${{ needs.setup.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: "Test Veff example"
      if: always()
      run: |
        pip install -e .[proposal]
        NuRadioMC/test/examples/test_veff_example.sh

    - name: "Test calibration pulser example"
      if: always()
      run: |
        NuRadioMC/test/examples/test_cal_pulser_example.sh

    - name: "Test radio emitter pulser example"
      if: always()
      run: |
        NuRadioMC/test/examples/test_radio_emitting_pulser_example.sh

    - name: "Veff test"
      if: always()
      run: |
        NuRadioMC/test/Veff/1e18eV/test_build.sh

    - name: "Veff test with noise and phased array"
      if: always()
      run: |
        NuRadioMC/test/Veff/1e18eV/test_build_noise.sh

    - name: "Atmospheric Aeff test"
      if: always()
      run: |
        NuRadioMC/test/atmospheric_Aeff/1e18eV/test_build.sh

    - name: "Trigger tests"
      if: always()
      run: |
        NuRadioReco/test/trigger_tests/run_trigger_test.sh

  rno-g-tests:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: "RNO-G Detector"
      if: always()
      run: |
        python NuRadioReco/detector/test/test_rnog_detector.py

    - name: "RNO-G data reader"
      if: always()
      run: |
        pip install git+https://github.com/RNO-G/mattak.git
        NuRadioReco/test/RNO_G/test_read_rnog_data.sh

  other-tests:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    env:
      GSLDIR: ${{ needs.setup.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: "channelGalacticNoiseAdder"
      if: always()
      run: |
        pip install -e .[galacticnoise]
        python NuRadioReco/examples/StandAloneScripts/B01galacticnoiseadder.py

    - name: "detector.Response"
      if: always()
      run: |
        python NuRadioReco/detector/test/test_response.py

    - name: "Test unfolding with voltageToEfieldConverter"
      if: always()
      run: |
        python NuRadioReco/test/voltageToEfieldConverter/test-unfolding.py

    - name: "Test module structure of all modules in NuRadioReco.modules"
      if: always()
      run: |
        python NuRadioReco/test/check_modules.py -r

  examples:
    runs-on: ${{ inputs.os || 'ubuntu-latest' }}
    needs: setup
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    env:
      GSLDIR: ${{ needs.setup.outputs.gsl-dir }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python [${{ env.PYTHON_VERSION }}]
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Restore Python environment
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cache/pip
          ${{ env.pythonLocation }}
        key: ${{ needs.setup.outputs.env-cache-key }}
        restore-keys: |
          ${{ runner.os }}-env-${{ env.PYTHON_VERSION }}-
          ${{ runner.os }}-env-

    - name: Cache CI data
      uses: actions/cache@v4
      with:
        path: |
          NuRadioReco/examples/Interactive/data
          NuRadioReco/test/data
        key: ${{ needs.setup.outputs.data-cache-key }}

    - name: "Test webinar examples"
      if: always()
      run: |
        NuRadioMC/test/examples/test_webinar.sh

    - name: "Test all examples"
      if: always()
      run: |
        pip install -e .[cr_interpolator]
        NuRadioReco/test/test_examples.sh

    - name: "Test interactive examples"
      run: |
        pip install jupyter
        jupyter execute NuRadioMC/examples/Interactive/W01-simulate-neutrino-detector.ipynb
        jupyter execute NuRadioMC/examples/Interactive/W02-reading-nur-files.ipynb
        jupyter execute NuRadioReco/examples/Interactive/read_lofar_data.ipynb
        jupyter execute NuRadioReco/examples/Interactive/read_RNOG_data.ipynb
